.demo-content {
  width: 80%;
  padding: 20px;
  background: rgba(225, 246, 235, 0.8);
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 20px;
}
.demo-content .title {
  text-align: center;
  margin-bottom: 20px;
  color: #70cccc;
  font-weight: 700;
}
.demo-content .demo-item {
  width: 300px;
  height: 200px;
  background: #ccc;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.25s;
}
.demo-content .demo-item:hover {
  scale: 1.1;
  transform: translate(-5px, -5px);
}
.demo-content .demo-item img {
  width: 100%;
  height: 100%;
}
