.task-box {
  padding: 20px;
  width: 80%;
  display: flex;
  align-items: flex-start;
}
.task-box .task {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px 5px 15px 5px;
  border-radius: 10px;
  background: #e1f6eb;
  opacity: 0.8;
}
.task-box .task .title {
  font-size: large;
  font-weight: 700;
  margin-bottom: 20px;
}
.task-box .task .taskItem {
  padding: 5px;
  border: 1px solid #b2f0d0;
  margin: 5px;
  width: 280px;
  height: 50px;
  border-radius: 5px;
}
.task-box .task .button {
  border: 1px solid lightgreen;
  background: #b2f0d0;
  width: 280px;
  height: 50px;
  margin-top: 8px;
  line-height: 50px;
  border-radius: 5px;
  text-align: center;
}
.task-box .dialog-content {
  background: #b2f0d0;
}
